# Python bytecode files
*.pyc
*.pyo

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# VIM swap files
*.swp

# setuptools components
/build/
/dist/
*.egg-info

# User specific settings
settings.py